name: Open release

on:
  push:
    branches:
      - main
      - "v[0-9]+.x"

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Prepare release with Changesets
    runs-on: ubuntu-22.04
    env:
      HUSKY: 0
    steps:
      -
      - uses: actions/checkout@v4
      - name: Setup PNPM
        uses: pnpm/action-setup@a3252b78c470c02df07e9d59298aecedc3ccdd6d # v3.0.0
        with:
          run_install: |
            - args: [--frozen-lockfile]
      - name: Retrieve token
        env:
          VAULT_URL: ${{ secrets.VAULT_URL }}
          VAULT_JWT: ${{ secrets.VAULT_JWT }}
        run: |
          set -x

          export GITHUB_TOKEN=$( \
            curl --request GET --url "$VAULT_URL" --header "Authorization: JWT $VAULT_JWT" | jq -r .token \
          )
          
          echo "::add-mask::$GITHUB_TOKEN"
      - name: Create Release Pull Request
        uses: changesets/action@e2f8e964d080ae97c874b19e27b12e0a8620fb6c # v1.4.6
        with:
          title: Release to npm
          commit: Release to npm
          publish: "pnpm publish:ci-prod"
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
